* {
    margin: 0;
    padding: 0;
}

a:link, a:hover, a:visited {
    text-decoration: none;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container-botoes {
    width: auto;
}

.botao {
    border-radius: 20px;
    height: 40px;
    width: 400px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.dark {
    background-color: #131314;
    border: 1px solid #8e918f;
    color: #e3e3e3;
}

.dark:hover {
    background-color: #4d4d4d;
}

.light {
    background-color: #FFFFFF;
    border: 1px solid #747775;
    color: #1F1F1F;
}

.light:hover {
    background-color: #f6f6f6;
}


.text-signin {
    text-align: center;
    font-family: 'Roboto Medium', sans-serif;
    font-size: large;
    display: flex;
    align-items: center;
}

.icon-signin {
    margin: 0 10px 0 10px;
    padding: 10px 0 10px 0;
}

.icon-signin img {
    height: 20px;
}