<!-- Barra de Navegação Lateral -->
 <nav class="navSecundario">
    <ul>
        <li><a href="/provedor-servicos/servico-especifico">Serviço Ativo Específico</a></li>
        <li><a href="/provedor-servicos/servicos">Serviços</a></li>
        <li><a href="/provedor-servicos/servicos-cpf">Serviços CPF</a></li>
        <li><a href="/provedor-servicos/servicos-cpf-disponibilidade">Serviços CPF Disponibilidade</a></li>
        <li><a href="/provedor-servicos/autocompletar">Autocompletar</a></li>
        <li><a href="/provedor-servicos/receber-solicitacao">Receber Solicitação</a></li>
        <li><a href="/provedor-servicos/acompanhamentos">Acompanhamentos</a></li>
        <li style="text-decoration: line-through;"><a href="/provedor-servicos/pendentes">Pendentes</a></li>
        <li style="text-decoration: line-through;"><a href="/provedor-servicos/hash">Hash</a></li>
    </ul>
</nav>