### CONFIGURAÇÕES DA APLICAÇÃO ########################################
SECRET_KEY='Uma chave secreta para a aplicação'
# Use para gerar uma chave secreta forte:
# import secrets
# print(secrets.token_hex(32))
FLASK_ENV=development
FLASK_APP=app.py

### BANCO DE DADOS ####################################################
# Banco de Dados - Desenvolvimento
DEV_DATABASE_URL='host'
DEV_DATANASE_NAME='database'
DEV_DATABASE_USERNAME='username'
DEV_DATABASE_PASSWORD='password'

# Banco de Dados - Teste
#TEST_DATABASE_URL='host'

# Banco de Dados - Produção
#PROD_DATABASE_URL='host'

### EMAIL ##############################################################
MAIL_SERVER='servidor SMTP'
MAIL_PORT='porta, padrão 587 para TLS ou 465 para SSL ou 25'
MAIL_USERNAME='usuário de email'
MAIL_PASSWORD='senha do email'

### APIs EXTERNAS ######################################################
CLIENT_ID='Seu Client ID'
CLIENT_SECRET='Seu Client Secret'
REDIRECT_URI='Link de Redirecionamento'

### OUTROS #############################################################
# Permite utilizar o OAuth sem HTTPS
#OAUTHLIB_INSECURE_TRANSPORT='1'