# Ambiente virtual
venv/
.venv/

# Arquivos de ambiente
.env

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos do VS Code (se usar)
.vscode/

# Arquivos temporários do sistema
.DS_Store
Thumbs.db

# Testes
tests/
tudo/