<!-- Barra de Navegação Lateral -->
 <nav class="navSecundario">
    <ul>
        <li><a href="/rh/eu">Eu</a></li>
        <li><a href="/rh/unidades-organizacionais">Unidades Organizacionais</a></li>
        <li><a href="/rh/servidores">Servidores</a></li>
        <li><a href="/rh/servidores-detalhado">Servidores Detalhado</a></li>
        <li><a href="/rh/servidores-integra">Servidores Integra</a></li>
        <li><a href="/rh/setores">Setores</a></li>
        <li><a href="/rh/historico-funcional">Meu Histórico Funcional</a></li>
        <li><a href="/rh/meus-afastamentos">Minhas Ocorrências Afastamentos</a></li>
        <li><a href="/rh/carteira-funcional">Emitir Carteira Funcional Digital</a></li>
    </ul>
</nav>