<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API SUAP</title>
    <link rel="stylesheet" href="{{ url_for('auth_bp.static', filename='auth/styles.css') }}">
</head>
<body>
    <main class="container">
        <div class="container-botoes">
            <!-- VERSÃO DARK -->
            <a href="/login">
                <div class="botao dark">
                    <div class="text-signin">Entrar com o </div>
                    <div class="icon-signin">
                            <img src="https://portal.suap.ifrn.edu.br/images/logo.svg" alt="">
                    </div>
                </div>
            </a>
            <!-- VERSÃO LIGHT -->
            <a href="/login">
                <div class="botao light">
                    <div class="text-signin">Entrar com o </div>
                    <div class="icon-signin">
                            <img style="-webkit-filter: invert(100%);" src="https://portal.suap.ifrn.edu.br/images/logo.svg" alt="">
                    </div>
                </div>
            </a>
        </div>
    </main>
</body>
</html>