<!-- Barra de Navegação -->
<nav>
    <div class="titulo">SUAP API</div>
    <div class="subtitulo">[ uma aplicação Flask + Flask-Login ]</div>
    <ul class="item">
        <li class=""><i class="fa-solid fa-list-check"></i><a>Administração</a>
            <ul class="subitem">
                <li><a href="/administracao/meus-processos">Meus Processos Físicos</a></li>
                <li><a href="/administracao/processo-especifico">Meu Processo Físico</a></li>
                <li><a href="/administracao/validar-visitante">Validar Visitante Portaria</a></li>
            </ul>
        </li>
        <li class=""><i class="fa-solid fa-comment"></i><a>Comunicação Social</a>
            <ul class="subitem">
                <li><a href="/comunicacao-social/banners">Banners</a></li>
                <li><a href="/comunicacao-social/ativos-deferidos">Eventos Ativos Deferidos</a></li>
            </ul>
        </li>
        <li class=""><i class="fa-solid fa-chalkboard-user"></i><a>Ensino</a>
            <ul class="subitem">
                <li><a href="/ensino/periodos">Períodos</a></li>
                <li><a href="/ensino/diario-semestre">Diários Semestres</a></li>
                <li><a href="/ensino/diario-professores">Diários Professores</a></li>
                <li><a href="/ensino/diario-alunos">Diários Alunos</a></li>
                <li><a href="/ensino/diario-aulas">Diários Aulas</a></li>
                <li><a href="/ensino/diario-materiais">Diários Materiais</a></li>
                <li><a href="/ensino/material">Materiais</a></li>
                <li><a href="/ensino/material-pdf">Materiais - PDF</a></li>
                <li><a href="#">Diário Trabalhos</a></li>
                <li><a href="/ensino/trabalhos">Trabalhos</a></li>
                <li><a href="/ensino/topicos">Tópicos</a></li>
                <li><a href="/ensino/disciplinas">Disciplinas</a></li>
                <li><a href="/ensino/disciplina-etapa">Disciplinas Etapas</a></li>
                <li><a href="/ensino/mensagens">Mensagens Entrada</a></li>
                <li><a href="#">Mensagens Marcar como Lido</a></li>
                <li><a href="#">Mensagens Excluir</a></li>
                <li><a href="/ensino/dados-aluno">Meus Dados Aluno</a></li>
                <li><a href="/ensino/requisito-conclusao">Requisitos Conclusão</a></li>
                <li><a href="#">Acesso Responsáveis</a></li>
                <li><a href="/ensino/aluno-boletim">Meu Boletim</a></li>
                <li><a href="/ensino/aluno-diarios">Meus Diários</a></li>
                <li><a href="/ensino/aluno-periodo-letivo">Meus Períodos Letivos</a></li>
                <li><a href="/ensino/aluno-avaliacoes">Minhas Próximas Avaliações</a></li>
                <li><a href="/ensino/aluno-turma-virtual">Minha Turma Virtual</a></li>
                <li><a href="/ensino//aluno-turma-virtual-especifico">Minhas Turmas Virtuais</a></li>
                <li><a href="#">Aluno Resumido</a></li>
                <li><a href="/ensino/meu-diario-ead">Meu Diário EAD</a></li>
                <li><a href="/ensino/meus-diarios-ead">Meus Diários EAD</a></li>
                <li><a href="/ensino/dados-aluno-matriculado">Aluno Matriculado</a></li>
                <li><a href="/ensino/portal-professores">Portal Professores</a></li>
            </ul>
        </li>
        <li class=""><i class="fa-solid fa-chart-column"></i><a>Gestão Institucional</a>
            <ul class="subitem">
                <li><a href="/gestao-institucional/estatisticas">Estatísticas</a></li>
                <li><a href="/gestao-institucional/consulta-documentos">Documentos</a></li>
            </ul>
        </li>
        <li class=""><i class="fa-solid fa-users"></i><a>Gestão de Pessoas</a>
            <ul class="subitem">
                <li><a href="/gestao-pessoas/meus-dados">Meus Dados</a></li>
                <li><a href="/gestao-pessoas/eu">Eu</a></li>
                <li><a href="/gestao-pessoas/unidades-organizacionais">Unidades Organizacionais</a></li>
                <li><a href="/gestao-pessoas/servidores">Servidores</a></li>
                <li><a href="/gestao-pessoas/servidores-detalhado">Servidores Detalhado</a></li>
                <li><a href="/gestao-pessoas/servidores-integra">Servidores Integra</a></li>
                <li><a href="/gestao-pessoas/setores">Setores</a></li>
                <li><a href="/gestao-pessoas/historico-funcional">Meu Histórico Funcional</a></li>
                <li><a href="/gestao-pessoas/meus-afastamentos">Minhas Ocorrências Afastamentos</a></li>
                <li><a href="/gestao-pessoas/carteira-funcional">Emitir Carteira Funcional Digital</a></li>
                <li><a href="/gestao-pessoas/minhas-ferias">Minhas Férias</a></li>
                <li><a href="/gestao-pessoas/minhas-frequencias">Minhas Frequências</a></li>
                <li><a href="/gestao-pessoas/servidor-resumido">Servidor Resumido</a></li>
                <li><a href="/gestao-pessoas/meus-contracheques">Meus Contracheques</a></li>
                <li><a href="/gestao-pessoas/meu-contracheque">Meu Contracheque</a></li>
                <li><a href="/gestao-pessoas/contracheques">Contracheques</a></li>
            </ul>
        </li>
        <li class=""><i class="fa-solid fa-globe"></i><a>Pesquisa</a>
            <ul class="subitem">
                <li><a href="/pesquisa/projetos">Projetos</a></li>
            </ul>
        </li>
        <li class=""><i class="fa-solid fa-laptop"></i><a>Tecnologia da Informação</a>
            <ul class="subitem">
                <li><a href="#">Balcão Digital - ID GOV.br</a></li>
                <li><a href="#">Balcão Digital</a></li>
                <li><a href="#">Balcão Digital - CPF</a></li>
                <li><a href="#">Balcão Digital Disponibilidade</a></li>
                <li><a href="#">Balcão Digital Autocompletar</a></li>
                <li><a href="#">Balcão Digital Receber Solicitação (POST)</a></li>
                <li><a href="#">Balcão Digital Receber Solicitação (GET)</a></li>
                <li><a href="#">Balcão Digital Acompanhamentos</a></li>
                <li><a href="#">Atualizações SUAP</a></li>
            </ul>
        </li>
        <li class="sairV"><i class="fa-solid fa-arrow-right-from-bracket"></i><a>Sair</a>
            <ul class="subitem">
                <li><a  href="/logout">Sair da Aplicação</a></li>
                <li><a href="https://suap.ifrn.edu.br/comum/logout">Sair do SUAP</a></li>
            </ul>
        </li>
    </ul>
</nav>