.tit-pagina {
    text-align: left;
}

.tit-pagina.titulo {
    font-size: 1.5rem;
}

.tit-pagina.endpoint{
    font-style: italic;   
}

section {
    display: grid;
    /*grid-template-columns: 1fr minmax(200px, 400px) minmax(200px, 400px) 1fr;*/
    grid-template-columns: 50vw 50vw;
    /*gap: 20px;*/
}

/*section > *:nth-child(odd){
    grid-column: 2;
}

section > *:nth-child(even) {
    grid-column: 3;
}*/

section > div {
    margin: 20px;
    border-radius: 10px;
    padding: 16px;

    display: flex;
    flex-direction: column;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: all 0.3s ease;

    overflow: hidden;
    
}

section > div:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}


.card-titulo {
    font-size: 0.8rem;
    margin-bottom: 8px;
    color: rgb(152, 164, 166);
}

.card-valor {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: rgb(31, 43, 67);
}

.card-sub {
    background: linear-gradient(135deg, rgba(42, 63, 84, 0.03) 0%, rgba(74, 100, 145, 0.05) 100%);
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-sub:hover {
    background: linear-gradient(135deg, rgba(42, 63, 84, 0.06) 0%, rgba(74, 100, 145, 0.1) 100%);
}