<!-- Barra de Navegação Lateral -->
 <nav class="navSecundario">
    <ul>
        <li><a href="/edu/periodos">Períodos</a></li>
        <li><a href="/edu/diario-semestre">Diários Semestre</a></li>
        <li><a href="/edu/diario-professores">Diário Professores</a></li>
        <li><a href="/edu/diario-alunos">Diário Alunos</a></li>
        <li><a href="/edu/diario-aulas">Diário Aulas</a></li>
        <li><a href="/edu/diario-materiais">Diário Materiais</a></li>
        <li><a href="/edu/material">Material</a></li>
        <li><a href="/edu/material-pdf">Material PDF</a></li>
        <li><a href="/edu/trabalhos">Trabalhos</a></li>
        <li><a href="/edu/topicos">Tópicos</a></li>
        <li><a href="/edu/disciplinas">Disciplinas</a></li>
        <li><a href="/edu/disciplina-etapa">Disciplina Etapa</a></li>
        <li><a href="/edu/mensagens">Mensagens</a></li>
        <li><a href="/edu/mensagem-leitura">Mensagem Leitura</a></li>
        <li><a href="/edu/mensagem-exclusao">Mensagem Exclusão</a></li>
        <li><a href="/edu/dados-aluno">Meus Dados Aluno</a></li>
        <li><a href="/edu/requisito-conclusao">Requisito Conclusão</a></li>
        <li><a href="/edu/acesso-responsavel">Acesso Responsável</a></li>
        <li><a href="/edu/aluno-boletim">Aluno Boletim</a></li>
        <li><a href="/edu/aluno-diarios">Aluno Diários</a></li>
        <li><a href="/edu/aluno-periodo-letivo">Aluno Periodos Letivos</a></li>
        <li><a href="/edu/aluno-avaliacoes">Aluno Avaliações</a></li>
        <li><a href="/edu/aluno-turma-virtual">Aluno Turma Virtual</a></li>
        <li><a href="/edu/aluno-turma-virtual-especifico">Aluno Turma Virtual Específico</a></li>
        <li><a href="/edu/dados-aluno-siabe">Dados Aluno SIABI</a></li>
        <li><a href="/edu/meu-diario-ead">Meu Diário EAD</a></li>
        <li><a href="/edu/meus-diarios-ead">Meus Diários EAD</a></li>
        <li><a href="/edu/dados-aluno-matricula">Dados Alunos Matriculado</a></li>
        <li style="text-decoration: line-through;"><a href="/edu/dados-servidor">Dados Servidor</a></li>
        <li style="text-decoration: line-through;"><a href="/edu/listar-alunos-atualizados">Alunos Atualizados</a></li>
        <li style="text-decoration: line-through;"><a href="/edu/listar-cursos">Listar Cursos</a></li>
        <li style="text-decoration: line-through;"><a href="/edu/listar-matrizes">Listar Matrizes</a></li>
        <li style="text-decoration: line-through;"><a href="/edu/listar-vinculos-matrizes">Listar Matrizes Cursos</a></li>
        <li style="text-decoration: line-through;"><a href="/edu/listar-cursos-ead">Listar Cursos EAD</a></li>
        <li style="text-decoration: line-through;"><a href="/edu/listar-turmas-ead">Listar Turmas EAD</a></li>
        <li style="text-decoration: line-through;"><a href="/edu/listar-diarios-ead">Listar Diários EAD</a></li>
        <li style="text-decoration: line-through;"><a href="/edu/listar-professores-ead">Listar Professores EAD</a></li>
        <li style="text-decoration: line-through;"><a href="/edu/listar-alunos-ead">Listar Alunos EAD</a></li>
        <li style="text-decoration: line-through;"><a href="/edu/listar-polos-ead">Listar Polos EAD</a></li>
        <li style="text-decoration: line-through;"><a href="/edu/listar-campus-ead">Listar Campus EAD</a></li>
        <li style="text-decoration: line-through;"><a href="/edu/listar-componentes-ead">Listar Componentes EAD</a></li>
        <li style="text-decoration: line-through;"><a href="/edu/listar-diarios-aluno">Listar Diários Aluno</a></li>
        
    </ul>
</nav>