section {
    display: grid;
    /*grid-template-columns: 1fr minmax(200px, 400px) minmax(200px, 400px) 1fr;*/
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

/*section > *:nth-child(odd){
    grid-column: 2;
}

section > *:nth-child(even) {
    grid-column: 3;
}*/

section > div {
    border: 1px solid red;
    border-radius: 10px;
    padding: 16px;

    display: flex;
    flex-direction: column;
}


.card-titulo {
    font-size: 0.8rem;
    margin-bottom: 8px;
}

.card-valor {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}