
header > nav {
    box-shadow: 0px 5px 10px gray;
    width: 100vw;
}

nav a {
    text-decoration: none;
    color: inherit;
}

header ul {
    color: #f6f6f6;
    padding: 10px 5px 10px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    gap: 10px;
}

header li {
    z-index: 1;
    padding: 1px 10px 1px 10px;
    text-align: center;
    cursor: pointer;
}

header li:hover {
    padding: 0 10px 0 10px;
}

.navPrimario {
    background-color: var(--green-if);
    font-weight: bold;
}

.navPrimario li:hover {
    border-top: 1px solid var(--red-if);
    border-bottom: 1px solid var(--red-if);
}

.navSecundario {
    background-color: var(--red-if);
}

.navSecundario li:hover {
    border-top: 1px solid var(--green-if);
    border-bottom: 1px solid var(--green-if);
}