* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container-botoes {
    width: auto;
}

.botao {
    border: 1px solid red;
    border-radius: 20px;
    height: 40px;
    width: 400px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.dark {
    background-color: #131314;
    border: 1px solid #8e918f;
    color: #e3e3e3;
}

.light {
    background-color: #FFFFFF;
    border: 1px solid #747775;
    color: #1F1F1F;
}


.text-signin {
    text-align: center;
    font-family: 'Roboto Medium', sans-serif;
    font-size: large;
    display: flex;
    align-items: center;
}

.icon-signin {
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.icon-signin img {
    height: 20px;
}