@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --tam-square: calc(100vh * 0.05);
    --green-if: #2f9e41;
    --red-if: #cd191e;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

body {
    display: grid;
    grid-template-rows: minmax(50px,auto) minmax(calc(100vh - 50px - 30px),auto) 30px;
}

header {
    position: sticky;
    top: 0px;
    margin-bottom: 10px;
    z-index: 1;
}


footer {
    margin-top: 10px;
    position: sticky;
    bottom: 0px;
    text-align: center;
    font-size: small;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #101212;
    color: #dfede2;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: grid;
    gap: calc(var(--tam-square) * 0.2);
    grid-template-columns: auto auto auto;
}

.square {
    width: var(--tam-square);
    height: var(--tam-square);
    display: flex;
    align-items: center;
    justify-content: center;
}

.red {
    border-radius: 50%;
    background-color: var(--red-if); /* Vermelho IF */
    outline: calc(var(--tam-square) * 0.05) solid var(--red-if);
}

.green {
    border-radius: 10%;
    background-color: var(--green-if); /* Verde IF */;
}
