<!-- Barra de Navegação Superior -->
<nav class="navPrimario">
    <ul>
        <li><a href="/comum">Comum</a></li>
        <li>Contracheques</li>
        <li>Demandas</li>
        <li>Edu</li>
        <li>Eventos</li>
        <li>Férias</li>
        <li><a href="/ponto">Ponto</a></li>
        <li>Portaria</li>
        <li>Protocolo</li>
        <li>Provedor de Serviço</li>
        <li><a href="/rh">RH</a></li>
        <li>API Deprecated</li>
        <li><a href="/logout">Sair</a></li>
    </ul>
</nav>