<!-- Barra de Navegação Superior -->
<nav class="navPrimario">
    <ul>
        <li><a href="/comum">Comum</a></li>
        <li><a href="/contracheques">Contracheques</a></li>
        <li><a href="/demandas">Demandas</a></li>
        <li><a href="/edu">Edu</a></li>
        <li><a href="/eventos">Eventos</a></li>
        <li><a href="/ferias">Férias</a></li>
        <li><a href="/pesquisa">Pesquisa</a></li>
        <li><a href="/ponto">Ponto</a></li>
        <li><a href="/portaria">Portaria</a></li>
        <li><a href="/protocolo">Protocolo</a></li>
        <li><a href="/provedor-servicos">[Provedor de Serviço]</a></li>
        <li><a href="/rh">RH</a></li>
        <li style="text-decoration: line-through;"><a href="/api-deprecated">[API Deprecated]</a></li>
        <li><a href="/logout">[Sair]</a></li>
    </ul>
</nav>